* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;

    padding-bottom: 3rem;
}

/* header */

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.navLeft {
    display: flex;
    align-items: center;
}

.navRight {
    display: flex;
    align-items: center;
}

li{
    padding: 0px 10px;
    font-size: .85rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2f3235;
}

.signIn {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(72, 110, 235);
    color: white;
    cursor: pointer;
}

/* main */
main {
    display: flex;
}

.mainContainer {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.logo {
    margin-bottom: 20px;
}

#searchContainer {
    border: 1px solid rgb(202, 202, 202);
    width: 600px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchContainer:hover {
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(202, 202, 202);
}

input {
    border-style: none;
    width: 500px;
    height: 45px;
}

.material-icons {
    padding: 10px;
    margin: 0 10px;
    font-size: 1.4em;
    color: #8b9297;
}

/* shortcuts */

.shortcutContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.shortcutContainer button {
    height: 36px;
    width: 130px;
    margin: 28px 5px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: .9em;
    cursor: pointer;
}

/* footer */

.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:rgb(237, 238, 240);
}

.footerContainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer ul li a {
    color: #6b7175;
}

.footerLeft {
    margin-left: 25px;
}

.footerRight {
    margin-right: 25px;
}